<div class="w-full h-full flex justify-center items-center">
  <div class="bg-red-500 group h-fit w-fit">
    <LikingSystem::HoverItem
      class="translate-x-2.5 opacity-40 bg-red-600 rotate-6 z-10"
    />
    <LikingSystem::HoverItem
      class="-translate-x-2 -rotate-6 opacity-40 bg-gray-600 z-9"
    />
    <LikingSystem::HoverItem
      class="-translate-x-5 -rotate-3 opacity-40 bg-green-600 z-8"
    />
    <LikingSystem::HoverItem
      class="-translate-x-2 group-hover:-translate-x-48 rotate-2 group-hover:-rotate-[17deg] opacity-40 bg-yellow-600 z-7"
    />
  </div>
</div>