<div class="h-full w-60 bg-gray-800 flex flex-col p-2 gap-y-2">
  <button class="bg-gray-900 w-full rounded-md text-sm p-1">
    Find or start a conversation
  </button>
  <hr class="border border-gray-500 rounded" />
</div>