<div class="h-full w-20 bg-gray-900 flex flex-col items-center p-2 gap-y-2">
  <Discord::Ui::ServerIcon />
  <hr class="border border-gray-500 rounded h-[1px] w-1/2" />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
  <Discord::Ui::ServerIcon />
</div>